.font-special {
  font-family: var(--font-special);
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.cursor-pointer {
  cursor: pointer;
}
.transition-300 {
  @include prefixer(transition, var(--time-transition));
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
